body{
  background-color:#A60303 ;
}
main{
  margin: 5% 0;
}
.boot{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 2%;
}

/* header */
.main_header {
  width: 100%;
  height: 8em;
}

.main_header .main_header_content {
  max-width: 1300px;
  height: 100%;
  margin: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.img_logo{
  display:flex;
  align-items: center;
  height: 100%;
}
.main_header .main_header_content img{
  /* flex-basis: 330px; */
  padding: 5px 0;
  width: 220px;
  
}

.main_header .main_header_content .main_header_content_menu {
  flex-basis: calc(100% - 330px);
  display: flex;
  justify-content: flex-end;
}
.main_header_content_menu{
  display: flex;
  align-items: center;
}

.menu_a_inportant{
  padding: 0 10px;
}
.menu_a_inportant a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 160px;
  background-color: #F2B807;
}
.cadastro_menu{
  color: #070300;
  padding:10px 20px;
  font-weight: 400;
  font-size: 1.085em;
  letter-spacing: 1px;
  text-align: center;
  transition: .20s;
}
.menu_a_inportant a:hover{
  background-color: #fff;
  color: #A60303;
}
/* informacoes-res */
.informacoes-res{
  float: left;
  width: 40%;
  background-color: #fff;
}
.info-res-container{
  display: flex;
  flex-direction: column;
  
  border: 1px solid white;
}
.info-res-content ul{
  list-style: none;
}
/* header */
.info-res-container header{
  padding-top:5px;
  margin-bottom: 25px;
  width: 100%;
  height: 20px;
}
.info-res-container header h1{
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.info-res-container header h1::after{
  content: '';
  display: block;
  width: 3rem;
  height: 0.2rem;
  background-color: #F2B807 ;
  margin: 1px auto;
  position: absolute;
  border-radius: 5px;
}
/* conteudo */
.info-res-container h2,
.info-res-content h2,
.info-res-promocoes h2{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px ;
  margin: 14px 0;
}
.info-res-container h2::after,
.info-res-content h2::after,
.info-res-promocoes h2::after{
  content: '';
  display: block;
  width: 3rem;
  height: 0.2rem;
  background-color: #A60303 ;
  margin: 1px auto;
  position: absolute;
  border-radius: 5px;
}
.info-res-container h3,
.info-res-content h3,
.info-res-promocoes h3{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px ;
  margin: 7px 0;
}
.info-res-container p,li{
  margin: 5px 0;
}
.info-res-container i{
  margin: 5px 0;
  margin-right: 3px;
}

/* img */
.info-res-img{
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.group-img{
  display: flex;
  justify-content: space-around;
}
.info-res-img img{
  width: 200px;
  height: 200px;
} 
/* button */
.info-res-buttons{
  display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.info-res-buttons a{
  font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #F2B807;
    color: #070708;
    padding:10px;
}
/* informacoes-res */

/* comentarios */
.estrelas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.estrelas p{
  padding-top: 5px;
}
.comentarios{
  width: 50%;
  float: right;
}

.comentario_cli{
  max-width: 1400px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1% 0;
  padding: 15px 10px;
  border-radius: 5px;
}
.coment_cli_content{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
}
.coment_cli_content:nth-child(n + 2){
   border-top:1px solid #d3d3d3;
  
}
.info_coment_cli1{
 padding-bottom: 7px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.info_coment_cli1 h3{
  justify-content: flex-start;
    font-weight: 500;
    color: #070300;
    font-size: 1.105em;
    margin-bottom: 10px;
    letter-spacing: 1.1px;
}

.info_coment_cli2{
 
  display: flex;
  width: 100%;
}
.info_coment_cli2,
.info_coment_cli1 p{
  font-size: 0.95em;
  font-weight: 200;
}
.link_res{
  margin-top: 10px;
  color: #A60303;
}

/* comentarios */
/* modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;

  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.titulo_modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-bottom: 15px;
}

.modal-content h1 {
  font-size: 1.3em;
  font-weight: 500;
}

.modal-content h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.2rem;
  background-color: #F2B807;
  margin: 0 auto;
  position: absolute;
  border-radius: 5px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form_cadastro_content {
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form_cadastro_input_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_cadastro_input_box input {
  outline: none;
  width: 70%;
}
.butao_proximo {
  margin-top: 25px;
  background: none;
  padding: 3px 0;
  width: 100%;
  border: 1px solid #A60303;
  border-radius: 5px;
  outline: none;
  letter-spacing: 0.8px;
  transition: .20s;
}

.butao_proximo:hover {
  background-color: #A60303;
  border: 1px solid white;
  color: white;
}
/* modal */