
body{
    background-color: #A60303 ;
}
/* PESQUISA============================================ */
form{
    display: flex;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    padding: 30px 5%;
    width: 100%;
    height: 3em;
}
.form_content{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 2em;
}
.form_content input[type="text"]{
    outline: none;
    border: none;
    padding: 5px;
    font-size: 0.85em;
    width: 90%;
    height: 100%;
}
.form_content input[type="submit"]{
    outline: none;
    border: none;
    background-color: #F2B807;
    color: #070300;
    width: 10%;
    height: 100%;
    transition: .20s;
}
.form_content input[type="submit"]:hover{
    background-color: #f2b707c5;
}
/* PESQUISA============================================ */

/* RESTAURANTE=========================================== */
.main_res{
    display: flex;
    max-width: 1400px;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    margin: 10% auto;
    background-color: #fff;
}
.titulo_pesquisa{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 25px 5px;
    width: 100%;
    height: 15px;
    margin-top: 50px;
    justify-content: flex-start;
}
.titulo_pesquisa h1{
    color: #fff;
    font-size: 1.3em;
    width: 100%;
    font-weight: 300;
}
.titulo_pesquisa h1::after{ content: '';
    content: '';
    display: block;
    width: 25rem;
    height: 0.2rem;
    background-color: #F2B807;
    margin: 1px auto;
    position: relative;
    border-radius: 5px}
.content_res{
    background-color: rgba(236, 236, 236, 0.932);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.info_res{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 15px;
}
.info_res:nth-child(n + 2){
    border-top:1px solid #d3d3d3;
}
.infos_grup{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.img_res{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.img_res img{
   max-width: 400px;
   max-height: 300px;
    border-radius: 5px;
}
.miniinfo_res{
    width: 100%;
    height: 90%;
   padding: 0 0px;
}
.miniinfo_res h2{
    justify-content: flex-start;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.miniinfo_res h2::after{ content: '';
    display: block;
    width: 3rem;
    height: 0.2rem;
    background-color: #F2B807 ;
    margin: 0 auto;
    position: absolute;
    border-radius: 5px;}
.miniinfo_res h3{
    justify-content: flex-start;
    font-weight: bold;
    font-size: 0.90em;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.miniinfo_res h3::after{ content: '';
    display: block;
    width: 3rem;
    height: 0.2rem;
    background-color: #F2B807 ;
    margin: 0 auto;
    position: absolute;
    border-radius: 5px;}
.miniinfo_res p{
        padding: 5px 0;
    }
.ver_mais_button{
    justify-content: flex-end;
    display: flex;
    width: 100%;
    padding: 10px;
}
.ver_mais_button a{
    color: #A60303;
}

/* RESTAURANTE=========================================== */