
body{
    width: 100%;
    height: 100%;
    background-color: #A60303;
}
/* ------------------------------------------------------------- */
.form_login{
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    width: 30%;
    margin:9.5% auto;
    background-color: #EDEEF3;
    box-shadow: 5px 5px 10px #070300;
}
.login_content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}
.titulo_login{
    height: 30px;
    width: 100%;
    text-align: center;
}
.titulo_login h1{
    font-weight: 500;
    font-size: 1.4em;
    height: 100%;
    width: 100%;
}
.titulo_login h1::after{
    content: '';
    display: block;
    width: 8rem;
    height: 0.2rem;
    background-color: #F2B807;
    margin: 1px auto;
    position: relative;
    border-radius: 5px;
}
.login_content_input_grupo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 30px 0;
}
.login_input_grupo_box{
    position: relative;
}
.login_input_grupo_box input{
    width: 90%;
    padding: 5px 0;
    font-size: 15px;
    color: #070300;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #F2B807;
    outline: none;
    background: transparent;
}
.login_input_grupo_box label{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0;
    font-size: 15px;
    color: #070300;
    pointer-events: none;
    transition: .5s;
}
.login_input_grupo_box input:enabled~ label,
.login_input_grupo_box input:valid~ label{
    font-size: 16px;
    font-weight: 500;
    top: -30px;
    left: 0;
}
.butao_login{
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    background-color: #F2B807;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1.1em;
    letter-spacing: 1px;
    font: 500;
    transition: .2s;
}
.butao_login:hover{
    transform: translateY(-0.25em);
    opacity: 2;
}
.nao_tem_conta{
    width: 100%;
    text-align: center;
}
.nao_tem_conta p{
    
    font-weight: 500;
    font-size: 0.95em;
    height: 100%;
    
    margin-bottom: 5px;
}
.grupo_butao{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.butao_login_cadastrar{
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 60%;
    height: 40px;
    margin-top: 10px;
    background-color: #A60303;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 0.875em;
    letter-spacing: 1px;
    font-weight: 500;
    transition: .2s;
}
.butao_login_cadastrar:hover{
    transform: translateY(-0.25em);
    opacity: 2;
}
.butao_login_cadastrar a{
    color: #EDEEF3;
}
.res_login_cadastrar{
    font: 16px;
    
    margin-top: 25px;
}
.res_login_cadastrar a{
    color: #A60303;
   border-bottom: 1px solid #A60303;;
}
/* FOOTER */
