/* HEADER====================================== */
.main_header {
    width: 100%;
    height: 8em;
}

.main_header .main_header_content {
    max-width: 1300px;
    height: 100%;
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img_logo{
    display:flex;
    align-items: center;
    height: 100%;
}
.main_header .main_header_content img{
    /* flex-basis: 330px; */
    padding: 5px 0;
    width: 220px;
    
}

.main_header .main_header_content .main_header_content_menu {
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}
.main_header_content_menu{
    display: flex;
    align-items: center;
}

.menu_a_inportant{
    padding: 0 10px;
}
.menu_a_inportant a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 160px;
    background-color: #F2B807;
}
.cadastro_menu{
    color: #070300;
    padding:10px 20px;
    font-weight: 400;
    font-size: 1.085em;
    letter-spacing: 1px;
    text-align: center;
    transition: .20s;
}
.menu_a_inportant a:hover{
    background-color: #A60303;
    color: #fff;
}
/* HEADER====================================== */

/* MAIN============================================ */
body{
    background-color: rgba(236, 236, 236, 0.932);
}
.form_cadastro{
    display: flex;
    max-width: 1300px;
    align-items: center;
    width: 80%;
    margin: 10% auto;
    background-color: #fff;
    box-shadow: 5px 5px 10px #00000070;
    border-radius: 5px;
}
.form_cadastro_content{
    display: flex;
    max-width: 1300px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 10px 40px;
    /* border: 1px solid red; */
}
.form_cadastro_content_titulo{
    /* border: 1px solid black; */
    height: 30px;
    width: 100%;
}
.form_cadastro_content_titulo h1{
    font-weight: 500;
    font-size: 1.3em;
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
}
.form_cadastro_content_titulo h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.2rem;
    background-color: #F2B807 ;
    margin: 1px auto;
    position: absolute;
    border-radius: 5px;
}
.form_cadastro_input_grupo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 0px;
    /* border 1px solid #F2B807 ; */
}
.form_cadastro_input_box{
    width: 50%;
    position: relative;
}
.form_cadastro_input_box input{
    width: 90%;
    /* border: 1px solid black; */
    padding: 5px 0;
    font-size: 0.90em;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #F2B807 ;
    outline: none;
    background: transparent;
}
.form_cadastro_input_box label{
    width: 90%;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5px ;
    padding-bottom: 10px ;
    font-size: 0.90em;
    color: #000;
    pointer-events: none;
    transition: .5s;
}
.form_cadastro_input_box input:enabled ~ label,
.form_cadastro_input_box input:valid~ label{
    top: -20px;
    left: 0;
    color: #000000;
    font-size: 12px;
}
.butao_proximo{
    color: #EDEEF3;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    background-color: #A60303 ;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1.1em;
    letter-spacing: 1px;
    font: 400;
    transition: .2s;
}
.butao_proximo:hover{
    transform: translateY(-0.25em);
    opacity: 2;
}
/* MAIN============================================ */

/* FOOTER====================================== */
html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
}
.main_footer{
    padding: 40px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 0px;
    color: #fff;
    background-color: #A60303;
}

.main_footer > header{
    flex-basis: 100%;
}
.main_footer > header h1{
    font-size: 1.4em;
    margin-bottom: 40px;
}
.main_footer >header h1::after{
    content: '';
    display: block;
    width: 4rem;
    height: 0.2rem;
    background-color: #F2B807 ;
    margin: 0 auto;
    position: absolute;
    border-radius: 5px;
}
.main_footer > article h2{
    margin-bottom: 20px;
}
.main_footer > article h2::after{
    content: '';
    display: block;
    width: 2rem;
    height: 0.2rem;
    background-color: #F2B807 ;
    margin: 0 auto;
    position: absolute;
    border-radius: 5px;
}
.main_footer > article ul li{
    list-style: none;
    margin: 5px 0;
}

.main_footer > article ul li a{
    color:#fff;

}

.main_footer > article ul li a:hover{
    border-bottom:1px solid #Fff;
    margin-top:5px;
}

.main_footer_our_pages , .main_footer_links{
    flex-basis: 25%;
}

.main_footer_about{
    flex-basis: 50%;
}  

.main_footer_rights{
    justify-content: center;
    padding: 27px 0;
    width: 100%;
    text-align: center;
    background-color: #A60303;
    border-top: 1px solid #fff;
    font-size: 0.9em;
    color: #fff;
    font-weight: 300;
}
/* FOOTER====================================== */